html {
  box-sizing: border-box;
}

button {
  margin-left: 30px;
}

header {
  font-size: 350%;
  background-color: rgb(41, 39, 39);
  font-style: "Noto Serif TC", serif;
  color: white;
  text-align: center;
  margin: 0%;
  padding: 0%;
}

#five-day {
  justify-content: center;
}

#h1 {
  text-align: center;
}
h1 {
  text-align: center;
  margin-top: 0%;
}

#list {
  padding: 25px;
  height: max-content;
}

span {
  padding: 5px;
}

#text-light {
  margin-right: 10px;
}

* {
  box-sizing: border-box;
}

#list {
  background-color: lightskyblue;
  color: black;
  margin-top: 10px;
  margin: 10px;
  margin-right: 15px;
  padding: 10px;
}
#current-weather {
  background-color: lightskyblue;
  color: black;
  margin-top: 10px;
  margin: 10px;
  margin-right: 15px;
  height: 50%;
  padding: 10px;
}
.leftSide {
  background-color: rgb(241, 236, 236);
  padding: 20px;
  padding-left: 50px;
  padding-top: 0px;
}
